<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hello, World!</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <!-- script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script -->
    
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.css" rel="stylesheet" type="text/css">
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.10.0.min.js"></script>
    {{ plot_script|safe }}
  </head>
  <body>
    {% if symbol %}
    {{ plot_div|safe }}
    {% else %}
    <p>Information about how to use this thing.</p>
    {% endif %}
    
    <form method='get' action='/'>
      <input type="text" placeholder="Stock Symbol" name="symbol" value="{{ symbol }}" />
      <input type="submit" value="Look up" />
    </form>
  </body>
</html>
